.footer {
    position: absolute;
    bottom: 0;
    background-color: $green;
    width: 100vw;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        @include text(16px, 400, #fff)
    }
}